.logo-web {
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  color: #2196f3;
}
.logo-studio {
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  color: #000000;
}
.logo-studiotwo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
}
.nav a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
}
.head-one {
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  color: white;
}
.order {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.button-order {
  background: #2196f3;
}
.specialty h3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #212121;
}
.specialty p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}
h2 .headtwo {
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  color: #212121;
}
.people h3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}
.people p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
.address-footer a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.filter-portfolio button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  background-color: #f5f4fa;
}
.hide {
  display: none;
}
.portf-portf h2 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  color: #212121;
}
.portf-portf p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
